.backImg{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    background-image: url('https://d2v9ipibika81v.cloudfront.net/uploads/sites/261/2017/01/facebook-logo-3.png');
    background-repeat: no-repeat ; 
    /* background-repeat: repeat-x;   horizontal
    background-repeat: repeat-y;  vertical */
 
}
